<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <label>Звяжіться зі мною:</label> <br />
  <%= link_to "#", :id=>'example' do
    image_tag("skype.png", :alt => "no image!", :title => "Написати мені в Скайп", :size => "80x40")
  end
  %>

</p>