
<div class="center hero-unit">
 <h1>Test App</h1>
    <h2>
        This is the home page for project  for Belogorodka school test of chemistry
        <a href="http://AlexSemchProject.org/">Other project Alex Semch>></a>
        by ©AlexSemch
    </h2>
  <% unless signed_in? %>
    <%= link_to "Увійти в систему!", signin_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
