<% provide(:title, 'Home') %>
<h1>Test App</h1>
<p>
  This is the home page for project  for Belogorodka school test of chemistry
  <a href="http://AlexSemchProject.org/">Other project Alex Semch>></a>
  by ©AlexSemch
</p>
