
<%= form_for( @student.user.build(user_id: current_user.id),
             remote: true) do |f| %>
    <div><%= f.hidden_field :user_id %></div>
    <%= f.submit t(:add_student), class: "btn btn-large btn-primary" %>
<% end %>