
<% provide(:title, t(:all_student)) %>
<h1><%= t(:all_student) %></h1>



      <%= will_paginate %>
      <ul class="users">
        <%= render @students %>
      </ul>
      <%= will_paginate %>



 


    



