    <script type="text/javascript">
      $(function(){
        $('#counter').countdown({
          image: 'assets/digits.png',
          startTime: '<%= @tte %>',
          timerEnd: function(){ document.location.replace("<%= ball_path %>"); },
          format: 'mm:ss'
        });
      });
    </script>
<div class="row-fluid" >
<div id="counter" class = "span4 offset4" ></div>
	
<div class="span6 offset3">
  <%= ajax_section :id => "page", :render => "page" %>
</div>


<div class="span4 offset4">
  <%= link_to t(:finish_test), ball_path, class: "btn btn-large btn-inverse", id: "end_test" %>

</div>
</div>



