<h1>Listing dthems</h1>

<table id="index_dtem">
  <tr>
    <th>Class st</th>
    <th>Them text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => @dthems %>
</table>

<br />
<% if permitted_to? :new, :dthems %>
  <%= link_to 'New Dthem', new_dthem_path, remote: true, id: :new_tem %>
<% end %>
