<li id="sp_<%= dquestion.id %>"><%== dquestion.question_text %> <br/>
  (<%= link_to 'Destroy', [@dtest, dquestion], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>) <br/>  <br/>
</li>