
<h2><a href=<%= dtest_dquestions_path(@question.dtest_id) %>><%== @question.question_text  %> </a> </h2>

<div id="danswer_list" class="well">
  <%= render @danswers %>
</div>

<br />
<% if permitted_to? :new, :danswers %>
    <%= link_to 'New Danswer', new_danswer_path, id: "new_answer_link", remote: true %>
<% end %>
