<h1><%== @question.question_text  %></h1>

<div id="danswer_list">
  <%= render @danswers %>
</div>

<br />

<%= link_to 'New Danswer', new_danswer_path, id: "new_answer_link", remote: true %>
                              пше