<% provide(:title, @people.pip) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @people.pip %>
        <%= @people.birth_date %>
      </h1>
    </section>
  </aside>
</div>